.app {
  background-color: #fafafa;
}

.app__header {
  object-fit: contain;
  background-color: white;
  padding: 2rem;
  border-bottom: 0.1rem solid lightgray;
}

.app__signup {
  display: flex;
  flex-direction: column;
}
